*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family:'Cormorant Infant', sans-serif;;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.1s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: auto;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;

}

.about {
    display: flex;
    align-items: center;
    padding: 7rem 0%;
    background: url(../images/w02874-small.jpg);
    background-size:cover;
}

.section-title {
    
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 30px;
    font-size: 50px;
    color: #ffffff;
    background-color:#9b4f61;
    border-radius: 10px;
    box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.icon {
    font-size: 48px;
    color: #9b4f61;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

a.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    border: 1px solid #D1CBCB;
    color: #D1CBCB;
    cursor: pointer;
    font-size: 1.7rem;
    transition: color 0.01s;
}

a.btn:hover{
    border-color: #AD9453;
    color: #AD9453;
}

header{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    background: #E0E0DE ;
    padding: .7rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .01rem 1rem rgba(0, 0, 0, 1);
}
header .logo{
    font-size: 3.5rem;
    color: #9B4F61;
    font-weight: bolder;
}
header .bar{
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #cac0bd;
    
}
header nav.bar a:not(:last-child) {
    margin-right: 4.5rem;
}
header .bar a:hover{
    color: #9B4F61;
}


header .icons a:hover {
    color: #9B4F61;
}

header #toggler {
    display: none;
}
header .icons {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
  
}
header .icons input[type="text"] {
    width: 200px; 
    transition: width 0.8s ease; 
    outline: none;
    border: none;
}

header .icons:hover input[type="text"] {
    width: 350px; 
    font-weight: 500;
    background: transparent;
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/5387155-flower-bouquet-flower-arrangement-floral-poppy-head-bloom-blooming-flowerpot-get-well-grey-deco-tin-free-stock-photos.jpg) no-repeat;
    background-size:cover;
    background-position: center;
}

.home .content{
   max-width: 40rem;
}

.home .content h3{
    font-size: 10rem;
    color:#D1CBCB;
    font-weight: normal;
    font-family: 'Imperial Script', cursive;
    text-shadow: 0 .0001rem 1rem rgba(0, 0, 0, 0.5);

}
.home .content h4{
    font-size: 7rem;
    color:#D1CBCB;
    font-weight: lighter;
    text-align: right;
    font-family: 'Imperial Script', cursive;
    text-shadow: 0 .0001rem 1rem rgba(0, 0, 0, 0.5);

}

.home .content p{
    font-size: 1.4rem;
    color: #D1CBCB;
    padding: 0.5rem 0;
    line-height: 2;
}

footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    background: #E0E0DE ;
    padding: 1.4rem 4%;
    box-shadow: 0 .01rem 1rem rgba(0, 0, 0, 1);
    text-align: center;  
}

footer .box-container .box{
    flex: 1 1 25rem;
}

footer .box-container .box h3{
    color: #9B4F61;
    font-size: 2rem;
  
}

footer .box-container .box a{
    display: block;
    color:#333;
    font-size: 1.3rem;
    padding: 0.6rem 0;
}

footer .box-container .box a:hover{
    color: #9B4F61;
    text-decoration: underline;
}

footer .box-container .box img{
   margin-top: 1rem;
}

footer .box-container .credit{
    justify-content: center;
    align-items: center;   
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    color: #333;
}

footer .box-container .credit span{
    color: #9B4F61;
    
}