*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family:'Cormorant Infant', sans-serif;;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.1s linear;
    color: #dabcc3;
}

html{
    font-size: 62.5%;
    scroll-behavior: auto;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;

}

.about {
    display: flex;
    align-items: center;
    background:  #ffffff;
}

.about-title .section-title {
    text-align: center;
    font-size: 100px;
    padding: 18rem 0%;
    color: #ffffff;
}
.about-title{
    display: block;
    align-items: center;
    background: url(../images/aboutUs.jpg) no-repeat;
    min-height: 600px;
    background-size:cover;
    padding: 3rem 0%;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 0 0 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(201, 201, 201, 0.755);
}

.about .container .row .col .icon .ion-ios-rose {
    font-size: 49px;
    color: #9b4f61 !important;
}
.about .container .row .col .icon .ion-ios-clock{
    font-size: 49px;
    color: #9b4f61 !important;
}
.about .container .row .col .icon .ion-ios-lightbulb{
    font-size: 49px;
    color: #9b4f61 !important;
}
.about .container .row .col .icon .ion-ios-color-wand{
    font-size: 49px;
    color: #9b4f61 !important;
}
.about .container .row .col .icon .ion-ios-email{
    font-size: 49px;
    color: #9b4f61 !important;
}


h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

a.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    border: 1px solid #D1CBCB;
    color: #D1CBCB;
    cursor: pointer;
    font-size: 1.7rem;
    transition: color 0.01s;
}

a.btn:hover{
    border-color: #AD9453;
    color: #AD9453;
}

header{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    padding: .9rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 4.5rem;
    color: #ffe8ed;
    font-weight: bolder;
    
    
}
header .bar{
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-left: 4rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: 1rem;
    
}
header nav.bar a:not(:last-child) {
    margin-right: 4.5rem;
}
header .bar a:hover{
    color: #ffffff;
}
header .bar:hover{
    color: #ffffff;
}


header #toggler {
    display: none;
}

.icon {
    margin-top: 1rem;
    display: inline-block; 
}

.icon a{
    margin-right: 10px; 
    height: 30px;
    padding: 1px 9px;
    margin-top: 1rem;
}

.icon i {
    font-size: 2rem; 
    margin-left: 8px;
}

.icon a:hover i {
    color: #ffffff; 
}


header .search input[type="text"] {
    width: 200px; 
    transition: width 0.8s ease; 
    outline: none;
    border: none;
}

header .search:hover input[type="text"] {
    width: 210px; 
    font-weight: 500;
    background: transparent;
}


header .search {
    margin-top: 1rem;
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    margin-left: 30px;
    border: 1px solid #dabcc3;
}
header .search button[type="submit"] {
    color: #dabcc3;
    font-size: .5rem;
    background-color: #fff;
}
header.transparent {
    background: transparent;
}

.ion-ios-search {
        background-color: #ffffff;
}



header.white {
    background: #ffffff;
}

header.white nav.bar a {
    color: #9b4f61; 
}

.logo.pink-logo {
    color: #9b4f61; 
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/5387155-flower-bouquet-flower-arrangement-floral-poppy-head-bloom-blooming-flowerpot-get-well-grey-deco-tin-free-stock-photos.jpg) no-repeat;
    background-size:cover;
    background-position: center;
}

.home .content{
   max-width: 40rem;
}

.home .content h3{
    font-size: 10rem;
    color:#D1CBCB;
    font-weight: normal;
    font-family: 'Imperial Script', cursive;
    text-shadow: 0 .0001rem 1rem rgba(0, 0, 0, 0.5);

}
.home .content h4{
    font-size: 7rem;
    color:#D1CBCB;
    font-weight: lighter;
    text-align: right;
    font-family: 'Imperial Script', cursive;
    text-shadow: 0 .0001rem 1rem rgba(0, 0, 0, 0.5);

}

.home .content p{
    font-size: 1.4rem;
    color: #D1CBCB;
    padding: 0.5rem 0;
    line-height: 2;
}

footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    background: #ffffff;
    padding: 1.4rem 4%;
    box-shadow: 0 .01rem 1rem rgba(0, 0, 0, 1);
    text-align: center;  
}

footer .box-container .box{
    flex: 1 1 25rem;
}

footer .box-container .box h3{
    color: #9B4F61;
    font-size: 2rem;
  
}

footer .box-container .box a{
    display: block;
    color:#333;
    font-size: 1.3rem;
    padding: 0.6rem 0;
}

footer .box-container .box a:hover{
    color: #9B4F61;
    text-decoration: underline;
}

footer .box-container .box img{
   margin-top: 1rem;
   width: 70%; 
   height: 20%; 
   
}

footer .box-container .credit{ 
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #333;
    transform: translateX(200%); 
}


footer .box-container .credit span{
    color: #9B4F61;
    
}



section.flower-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.flower-product {
    margin: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px; 
    height: 350px; 
    overflow: hidden;
}

.flower-product img {
    width: 70%; 
    height: 70%; 
    object-fit: cover; 
}

.flower-product h2 {
    margin: .1rem 0;
    font-size: 1.9rem;
    color: #333;
}

.flower-product p {
    color: #555;
    font-size: 1rem;

}

.flower-product span {
    display: block;
    font-weight: bold;
    margin-top: 0.2rem;
    font-size: 1.2rem;
    color: #9b4f61;
}
.product{
    display: block;
    align-items: center;
    background: url(../images/product.jpg) no-repeat;
    min-height: 600px;
    background-size:cover;
    padding: 3rem 0%;
    margin-bottom: 30px;

}

.pro-title{
    text-align: center;
    font-size: 100px;
    padding: 18rem 0%;
    color: #ffffff;

}
.flower-products .flower-product .buy {
    display: flex;
    justify-content: flex-start; 
    margin-top: 0.001px; 
}
.flower-products .flower-product .buy .ion-ios-cart{
    color: #9b4f61 !important;
    margin-right: 10px;
    font-size: 1.5rem; 

}
.flower-products .flower-product .buy .ion-ios-share{
    color: #9b4f61 !important;
    font-size: 1.5rem; 
}

.contact{
    display: block;
    align-items: center;
    background: url(../images/pexels-iriser-1651053.jpg) no-repeat;
    min-height: 600px;
    background-size:cover;
    padding: 3rem 0%;
    margin-bottom: 30px;

}
.cont-title{
    text-align: center;
    font-size: 100px;
    padding: 18rem 0%;
    color: #ffffff;

}

header.white .icon .ion-ios-cart{
    color: #9b4f61; 
}
header.white .icon .ion-ios-person{
    color: #9b4f61; 
}
.join{
    display: block;
    align-items: center;
    background: url(../images/pexels-iriser-1408221.jpg) no-repeat;
   
    background-size:cover;
    padding: 3rem 0%;

}
.join-title{
    text-align: center;
    font-size: 100px;
    padding: 16rem 0%;
    color: #ffffff;

}
.reg {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.reg form {
    margin: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
}

.reg form label {
    margin-bottom: 5px;
    color: #9B4F61; 
    font-size: medium;
}
.reg form input[type="text"],
.reg form input[type="email"],
.reg form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.reg form button.btn.btn-primary {
    padding: 10px 20px;
    background-color: #9B4F61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reg form button.btn.btn-primary:hover {
    background-color: #dabcc3;
}

.reg .error-message {
    color: #a50011;
    font-size: 0.9em;
    margin-top: 5px;
}

.reg .success-message {
    color: #28a745;
    font-size: 0.9em;
    margin-top: 5px;
}
 
.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.log {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.log form {
    margin: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
}
.log form label {
    margin-bottom: 5px;
    color: #9B4F61; 
    font-size: medium;
}
.log form input[type="text"],
.log form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.log form button[type="submit"]  {
    padding: 10px 20px;
    background-color: #9B4F61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.log form button.btn.btn-primary:hover {
    background-color: #dabcc3;
}
.Log{
    display: block;
    align-items: center;
    background: url(../images/pexels-markus-winkler-1430818-2975171.jpg) no-repeat;
    background-size:cover;
    padding: 3rem 0%;

}
.Login{
    text-align: center;
    font-size: 100px;
    padding: 13rem 0%;
    color: #ffffff;

}