{% load static %}
<footer>
<div class="box-container">
<div class="box">
<h3> quick links</h3>
<a href="{% url 'index' %}">home</a>
    <a href="/product/">product</a>
    <a href="/about/">about us</a>
    <a href="/contact/">contact</a>
</div>

<div class="box">
<h3> extra links</h3>
<a href="/profile/">my account</a>
</div>

<div class="box">
<h3>locations</h3>
<a href="#">Mekkah</a>
<a href="#">Buraydah</a>
<a href="#">Riyadh</a>
<a href="#">Jeddah</a>
<a href="#">Damam</a>
</div>

<div class="box">
<h3>contact info</h3>
<a href="#">+966566909688</a>
<a href="#">Rosa1422@gmail.com</a>
<a href="#">Buraydah, Saudi Arabia - 77777</a>
<img src="{% static '/images/paymenys.png' %}" alt="">
</div>
<div class="credit">created by <span>Ghadi YN </span>| &copy; all rights reserved </div>
</div>


 


</footer>