<header>
     <a href="#" class="logo">Rosa</a>

     <nav class="bar">
    <a href="{% url 'index' %}">home</a>
    <a href="/product/">product</a>
    <a href="/about/">about us</a>
    <a href="/contact/">contact</a>
    <a href="/login/">login</a>
    <a href="/registration/">registration</a>
</nav>

   <div class="search">
     <form action="{% url 'product_page' %}" method="GET">
        <input type="text" name="q" placeholder="Search">
        <button type="submit" title="Search"><i class="ion-ios-search"></i></button>
     </form>
   </div>

   <div class="icon">
    <a href="{% url 'cart' %}">
        <i class="ion-ios-cart"></i>
       </a>
        <a href="{% url 'profile' %}">
            <i class="ion-ios-person"></i>
        </a>
    </div>


    <script>
    document.querySelector('.search button').addEventListener('click', function() {
        var searchForm = document.querySelector('.search form');
        searchForm.style.display = (searchForm.style.display == 'none') ? 'block' : 'none';
    });
</script>
    <script>
  document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('header');
    const logo = document.querySelector('.logo');
    const cartIcon = document.querySelector('.ion-ios-cart');
    const profileIcon = document.querySelector('.ion-ios-person');

    function handleScroll() {
        if (window.scrollY > 50) {
            header.classList.remove('transparent');
            header.classList.add('white');
            logo.classList.add('pink-logo');
        } else {
            header.classList.remove('white');
            header.classList.add('transparent');
            logo.classList.remove('pink-logo');
        }
    }

    window.addEventListener('scroll', handleScroll);
});

</script>
<script>
    function search() {
        var input, filter, cards, cardContainer, title, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        cards = document.querySelectorAll(".flower-product");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector("h2");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>

   </header>
