{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<section class="cart" id="cart">
    <div class="cart-container">
        <h2 class="cart-title">Shopping Cart</h2>

        <div class="cart-items">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="cart-item">
                        <div class="cart-item-info">
                            <h3>{{ item.product_ref.title }}</h3>
                            <p class="quantity">Quantity: {{ item.quantity }}</p>
                            <p class="price">Price:  ${{ item.total_price }}</p>
                        </div>
                        <div class="cart-item-actions">
                            <form action="{% url 'remove_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Remove</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="empty-cart-message">Your cart is empty.</p>
            {% endif %}
        </div>
       <a href="/order/" class="order">Order</a>
    </div>
</section>

{% endblock content %}
