{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<section class="Log" id="Log">
    <h2 class="Login">Welcome back</h2>
    <div class="log">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        {% if form.errors %}
            <p class="error-message">Invalid username or password. Please try again.</p>
        {% endif %}
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
    </section>
{% endblock content %}