{% extends "layouts/base.html" %}
{% load static %}


{% block content %}
<section class="product" id="product">
    <h2 class="pro-title">Products</h2>
</section>

<section class="flower-products">
    {% for product in products %}
    <div class="flower-product">
        {% if product.product_image %}
        <img src="{{ product.product_image.url }}" alt="{{ product.title }}">
        {% else %}
        <img src="{% static 'product/default.jpg' %}" alt="{{ product.title }}">
        {% endif %}
        <div class="buy">
            <a href="#" class="ion-ios-cart"></a>
            <a href="#" class="ion-ios-share"></a>
        </div>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <span>${{ product.selling_price }}</span>
    </div>
    {% endfor %}
</section>
{% endblock content %}
