<header>
     <a href="#" class="logo">Rosa</a>

     <nav class="bar">
        <a href="#home">home</a>
        <a href="#products">products</a>
        <a href="#about">about us</a>
        <a href="#contact">contact</a>
      </nav>

      <div class="icons">
        <a href="#">
             <i class="ion-ios-search"></i>
          </a>
        <a href="#">
             <i class="ion-ios-cart"></i>
          </a>
        <a href="#">
             <i class="ion-ios-person"></i>
          </a>
         </div>
   </header>
